<table class="table is-bordered is-fullwidth">
    <thead>
        <tr class="table-head">
            <th>
                <p>Indent No</p>
            </th>
            <th>
                <p>Indent Issue</p>
            </th>
            <th>
                <p>Indent Expire</p>
            </th>
            <th>
                <p>Vehicle Type</p>
            </th>
            <th>
                <p>No of Vehicle</p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let indent of indents; index as i" [ngClass]="i%2 === 0 ? 'table-body-1' : 'table-body-2' ">
            <td>
                <p>{{indent.indent_id}}</p>
            </td>
            <td>
                <p>{{indent.indent_issue}}</p>
            </td>
            <td>
                <p>{{indent.indent_expire}}</p>
            </td>
            <td>
                <p>{{indent.vehicle_type}}</p>
            </td>
            <td>
                <p>{{indent.no_of_vehicles}}</p>
            </td>
        </tr>
    </tbody>
</table>
