<h2 class="title is-2" style="text-align: center; margin-top: 10px;">Add a New Admin</h2>
<table class="table is-fullwidth container">
    <tbody>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          User ID
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditUserID($event)" class="input" type="text" placeholder="User ID">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                          BA No
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditBaNo($event)" class="input" type="text" placeholder="BA No">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          Rank
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditRank($event)" class="input" type="text" placeholder="Rank">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                          First Name
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditFirstName($event)" class="input" type="text" placeholder="First Name">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          Last Name
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditLastName($event)" class="input" type="text" placeholder="Last Name">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                          Unit
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditUnit($event)" class="input" type="text" placeholder="Unit">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          Subunit
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditSubunit($event)" class="input" type="text" placeholder="Subunit">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                          Appointment
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditAppointment($event)" class="input" type="text" placeholder="Appointment">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          CORO No
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditCoroNo($event)" class="input" type="text" placeholder="CORO No">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                          CORO Date
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditCoroDate($event)" class="input" type="text" placeholder="CORO Date">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
          <td>
              <div class="field has-addons">
                  <p class="control" style="width: 39%;">
                      <a class="button is-static is-fullwidth form-head-2">
                        CORO Expire
                      </a>
                  </p>
                  <p class="control" style="width: 60%;">
                    <input (keyup)="OnEditCoroExpire($event)" class="input" type="text" placeholder="CORO Expire">
                  </p>
                </div>
          </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          Contacts
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditContact($event)" class="input" type="text" placeholder="Contacts">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                          Password
                        </a>
                    </p>
                    <p class="control" style="width: 50%;">
                      <input (keyup)="OnEditPassword($event)" class="input" type="{{ passwordIsHidden ? 'password' : 'text' }}" placeholder="Password">
                    </p>
                    <p class="control" style="width: 10%;">
                        <a class="button is-fullwidth" (click)="OnClickShowPassword()">
                          {{passwordStatus}}
                        </a>
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="OnClickSubmit()" class="button is-fullwidth is-link">
                    Submit
                </button>
            </td>
        </tr>
    </tbody>
</table>