<h2 class="title is-2" style="text-align: center; margin-top: 10px;">Add a New Indent</h2>
<table class="table is-fullwidth container">
    <tbody>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          Indent No
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditIndentId($event)" class="input" type="text" placeholder="User ID">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                            Indent Issue
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditIndentIssue($event)" class="input" type="text" placeholder="BA No">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                            Indent Expire
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditIndentExpire($event)" class="input" type="text" placeholder="Rank">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                            Vehicle Type
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditVehicleType($event)" class="input" type="text" placeholder="First Name">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          No of Vehicle
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input (keyup)="OnEditNoOfVehicles($event)" class="input" type="text" placeholder="Last Name">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="OnClickSubmit()" class="button is-fullwidth is-link">
                    Submit
                </button>
            </td>
        </tr>
    </tbody>
</table>