<table class="table is-bordered is-fullwidth">
    <thead>
        <tr class="table-head">
            <th>
                <p>Vehicle ID</p>
            </th>
            <th>
                <p>Vehicle Type</p>
            </th>
            <th>
                <p>Vehicle Class</p>
            </th>
            <th>
                <p>Vehicle Issue</p>
            </th>
            <th>
                <p>Initial Mileage</p>
            </th>
            <!--
            <th>
                <p>Total Mileage</p>
            </th>
            <th>
                <p>Total Issue POL Type</p>
            </th>
            <th>
                <p>Total Issue POL Amount</p>
            </th>
            <th>
                <p>Total Usage POL Type</p>
            </th>
            <th>
                <p>Total Usage POL Amount</p>
            </th>
            <th>
                <p>Total POL Stock</p>
            </th>
            <th>
                <p>Last Update</p>
            </th>
        -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles; index as i" [ngClass]="i%2 === 0 ? 'table-body-1' : 'table-body-2' ">
            <td>
                <p>{{vehicle.vehicle_id}}</p>
            </td>
            <td>
                <p>{{vehicle.vehicle_type}}</p>
            </td>
            <td>
                <p>{{vehicle.vehicle_class}}</p>
            </td>
            <td>
                <p>{{vehicle.vehicle_issue}}</p>
            </td>
            <td>
                <p>{{vehicle.initial_mileage}}</p>
            </td>
            <!--
            <td>
                <p>{{vehicle.total_mileage}}</p>
            </td>
            <td>
                <p>{{vehicle.total_issue_POL_type}}</p>
            </td>
            <td>
                <p>{{vehicle.total_issue_POL_amount}}</p>
            </td>
            <td>
                <p>{{vehicle.total_usage_POL_type}}</p>
            </td>
            <td>
                <p>{{vehicle.total_usage_POL_amount}}</p>
            </td>
            <td>
                <p>{{vehicle.total_POL_stock}}</p>
            </td>
            <td>
                <p>{{vehicle.last_update}}</p>
            </td>
        -->
        </tr>
    </tbody>
</table>
