<table class="table is-fullwidth container">
    <tbody>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          User ID
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="User ID" value={{admin.user_id}} readonly>
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                          BA No
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="BA No" value={{admin.ba_no}} readonly>
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          Rank
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="Rank" value={{admin.rank}} readonly>
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                          First Name
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="First Name" value={{admin.first_name}} readonly>
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          Last Name
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="Last Name" value={{admin.last_name}} readonly>
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                          Unit
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="Unit" value={{admin.unit}} readonly>
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          Subunit
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="Subunit" value={{admin.subunit}} readonly>
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                          Appointment
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="Appointment" value={{admin.coro_appointment}} readonly>
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          CORO No
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="CORO No" value={{admin.coro_no}} readonly>
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                          CORO Date
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="CORO Date" value={{admin.coro_date}} readonly>
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
          <td>
              <div class="field has-addons">
                  <p class="control" style="width: 39%;">
                      <a class="button is-static is-fullwidth form-head-2">
                        CORO Expire
                      </a>
                  </p>
                  <p class="control" style="width: 60%;">
                    <input class="input" type="text" placeholder="CORO Expire" value={{admin.coro_expire}} readonly>
                  </p>
                </div>
          </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          Contacts
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="Contacts" value={{admin.contact}} readonly>
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                          Password
                        </a>
                    </p>
                    <p class="control" style="width: 50%;">
                      <input (keyup)="OnEditPassword($event)" class="input" type="{{ passwordIsHidden ? 'password' : 'text' }}" placeholder="Password" value={{admin.password}}>
                    </p>
                    <p class="control" style="width: 10%;">
                        <a class="button is-fullwidth" (click)="OnClickShowPassword()">
                          {{passwordStatus}}
                        </a>
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="OnClickChangePassword()" class="button is-fullwidth is-link">
                    Change Password
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!--Change Password Warning Modal-->
<div class="modal" [ngClass]="{ 'is-active': isClickedToChangePassword == true }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="is-flex-column">
        <h2 class="title is-2" style="text-align: center">
          Are You Sure?
        </h2>
        <div class="field is-grouped">
          <p class="control">
            <button (click)="OnClickYes()" class="button is-success">
              YES
            </button>
          </p>
          <p class="control">
            <button (click)="OnClickNo()" class="button is-danger">
              NO
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <button
    (click)="OnClickCancel()"
    class="modal-close is-large"
    aria-label="close"
  ></button>
</div>