<div class="root">
  <div class="field">
    <p class="control">
      <input (keyup)="OnEditUserIdInputField($event)" class="input" type="number" placeholder="User ID" required />
    </p>
  </div>
  <div class="field">
    <p class="control">
      <input (keyup)="OnEditPasswordInputField($event)" class="input" type="password" placeholder="Password" required/>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button (click)="OnClickLogin()" class="button is-link">Login</button>
    </p>
  </div>
</div>
