<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <h2 class="title is-2 navbar-title">POLMS</h2>
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
            <div class="username">
                <b>Niaz Bin Siraj</b>
            </div>
            <div>
                <a class="button is-light">
                    Sign Out
                </a>
            </div>
        </div>
      </div>
    </div>
  </nav>