<h2 class="title is-2" style="text-align: center; margin-top: 10px;">Add a New Vehicle</h2>
<table class="table is-fullwidth container">
    <tbody>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          Vehicle ID
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="User ID">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                            Vehicle Type
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="BA No">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                            Vehicle Class
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="Rank">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-2">
                            Vehicle Issue
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="First Name">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field has-addons">
                    <p class="control" style="width: 39%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          Initial Milage
                        </a>
                    </p>
                    <p class="control" style="width: 60%;">
                      <input class="input" type="text" placeholder="Last Name">
                    </p>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <button class="button is-fullwidth is-link">
                    Submit
                </button>
            </td>
        </tr>
    </tbody>
</table>